# yii framework production servers

forum.yii.c.cebe.net:
  host: 159.69.125.49 
  user: root
  priv: ~/.ssh/id_rsa

bot.yii.c.cebe.net:
  host: 195.201.36.132
  user: root
  priv: ~/.ssh/id_rsa

site.yii.c.cebe.net:
  host: 195.201.43.218
  user: root
  priv: ~/.ssh/id_rsa

